[submodule "submodules/UniversityHomepage"]
	path = submodules/UniversityHomepage
	url = https://github.com/LisaLaw/University_Homepage.git
[submodule "submodules/GameChangers"]
	path = submodules/GameChangers
	url = https://github.com/LisaLaw/GameChangers_MockUp.git
[submodule "submodules/SignUp"]
	path = submodules/SignUp
	url = https://github.com/LisaLaw/Sign_Up_Landing.git
[submodule "submodules/Calculator"]
	path = submodules/Calculator
	url = https://github.com/LisaLaw/JS_Calculator.git
