html {
  width: 100%;
  font-family: "ABeeZee", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ebf2fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  align-self: center;
  border-radius: 2px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  height: 55px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  background-color: white;
  align-items: center;
  margin: 5px;
  z-index: 5;
  box-shadow: 1px 1px 3px #064789;
  border-bottom: 1px solid #064789;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  list-style: none;
  text-align: center;
  text-emphasis: none;

  padding: 10px 30px;
  font-weight: bold;
  font-size: 17px;
  flex-grow: 1;
  text-transform: uppercase;
}
nav a {
  color: #064789;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
  color: black;
  transform: scale(1.1);
  font-weight: bolder;
}
nav a.active {
  background-color: #064789;
  border-radius: 2px;
  overflow: hidden;
  color: white;
}

.main {
  background-color: #ebf2fa;
  box-shadow: -1px 1px 5px #064789;
  padding: 10px;
  display: flex;
  flex-direction: row;
  color: black;
}

.home {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: #064789;
}

.title {
  font-size: 35px;
  text-align: left;
  line-height: 2;
  color: black;
  width: 800px;
  text-shadow: 1px 1px;
  align-self: center;
}

.main-left {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 45px;
}

.top a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 17px;
}
.top {
  background-color: #064789;
  border-radius: 50%;
  border: none;
  border: 1px solid transparent;
  height: 30px;
  width: 30px;
  margin-top: 20px;
}
.top:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.intro {
  margin-right: 20px;
  text-align: justify;
  margin-top: 30px;
}
.main-right {
  padding: 10px;
}

.curriculum {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-top: 5%;
}

.img-container {
  align-self: center;
  padding: 10px;
  align-self: flex-start;
}

img {
  border-radius: 5px;
}

.curriculum p {
  color: rgb(225, 4, 4);
  line-height: 1.5;
  font-size: 15px;
  letter-spacing: 1.5px;
  margin: 10px;
}

.punctuation {
  color: orange;
  font-weight: bold;
}

.value {
  /*color: rgb(253, 232, 240);*/
  color: rgb(89, 176, 244);
}

.projects {
  padding: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 30px;
}

.line {
  border: 1px solid #064789;
  margin-left: 50px;
  margin-right: 50px;
}

.other_projects {
  display: flex;
  flex-direction: row;
}

.front-end,
.back-end {
  margin: 40px 10px;
  max-width: 50%;
}
.front-end {
  border-right: 2px solid #064789;
}
.front-end button {
  margin-left: 50px;
}
.front-end h1,
.back-end h1,
.django_projects h1 {
  margin-left: 50px;
}
.project {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 10px;
}
.project-card {
  text-decoration: none;
  /*color: rgb(34, 34, 70);*/
  color: black;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 4px 4px #064789;
  border: 1px solid #064789;
}
.project-card h3 {
  width: 80%;
  align-self: center;
  text-align: center;
  padding: 15px;
  line-height: 1.5;
  margin-bottom: -15px;
  z-index: 2;
}
.project-card img {
  overflow: hidden;
  height: 80%;
  width: 80%;
  margin: 10px;
  align-self: center;
  z-index: 1;
  margin: 15px;
  box-shadow: 0.5px 0.5px 3px;
}

.skills {
  flex-direction: column;
  margin-top: 30px;
  justify-content: space-between;
}

.skills-container,
.certificates-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px;
  width: 95%;
}

.skills-container {
  padding: 20px;
  padding-bottom: 8%;
  justify-content: flex-start;
  border-bottom: 1px solid #679436;
}

.single-skill,
.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  padding: 0 5px;
}

.single-skill {
  width: 30%;
}

.single-skill img {
  margin-top: 20px;
  max-width: 50%;
  align-self: center;
}

.certificates-container {
  padding: 50px 20px 0px 20px;
  margin-top: -20px;
  align-self: flex-start;
}

h4 {
  text-align: center;
  min-height: 50px;
}

.single-skill button {
  margin: 50px;
}
.experience {
  height: auto;
}
.experience .main-left {
  width: 12%;
  justify-content: space-between;
}
.experience h1 {
  margin-top: 50px;
  width: 300px;
}
.experience button {
  margin-bottom: 50px;
}
table {
  width: 100%;
  margin: 40px;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: -0.5px -0.5px 5px #ebf2fa;
  border: 3px white solid;
}
tr:nth-child(2n) {
  background-color: #a7cdf9;
}
tr:nth-child(2n + 1) {
  background-color: #69788a;
}
th,
td {
  padding: 10px;
  text-align: left;
}
tr:not(:first-of-type):hover {
  background-color: #ebf2fa;
  animation: 0.7s wobble ease-in-out;
}
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-0.5deg);
  }
  30% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(0.5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
th:first-of-type,
td:first-of-type {
  width: 25%;
}
th:first-of-type {
  border-top-left-radius: 15px;
}
th:nth-of-type(2) {
  border-top-right-radius: 15px;
}
#last-row td:first-of-type {
  border-bottom-left-radius: 15px;
}
#last-row td:nth-of-type(2) {
  border-bottom-right-radius: 15px;
}
.contact {
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.contact a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.contact img {
  width: 50px;
  height: 50px;
  padding: 50px;
}
.contact img#linkedin {
  width: 85px;
  height: 85px;
}

.contact img#email {
  width: 70px;
}

.contact button {
  margin-top: 100px;
}

footer {
  margin-top: -10px;
  border-top: 1px solid #679436;
  width: 50%;
  text-align: center;
}
