html {
    width: 100%;
    font-family: 'ABeeZee', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    background-color: #f8f3f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
}
body {
    width: 95%;
    align-self: center;
    border-radius: 2px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    height: 55px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    background-color: white;
    align-items: center;
    margin-top: 5px;
    z-index: 5;
    box-shadow: 1px 1px 3px #8f666c;
    border-bottom: 1px solid #8f666c;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-emphasis: none;
    color: rgb(194, 55, 97);
    padding: 10px 30px;
    font-weight: bold;
    font-size: 17px;
    flex-grow: 1;
}
nav a:hover {
    text-decoration: underline;
    color: black;
    transform: scale(1.1);
    font-weight: bolder;
}
nav a.current {
    background-color: rgb(172, 82, 109);
    border-radius: 2px;
    overflow: hidden;
    color: white;
}
.main {
    height: 550px;
    background-color: #f8f3f2;
    width: 100%;
    box-shadow: -1px 1px 5px #8f666c;
    border-radius: 10px;
    /*border: solid 1px #8f666c;*/
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    /*color: rgb(34, 34, 70);*/
    color: black;
}
.colored-strip {
    height: auto;
    border: 15px solid rgb(194, 55, 97);
}
#main-strip {
    margin-left: 200px;
}
h1 {
    color: rgb(172, 82, 109);
}
.title {
    font-size: 35px;
    text-align: left;
    line-height: 2;
    /*color: rgb(34, 34, 70);*/
    color: black;
    width: 800px;
    margin-left: 30px;
    text-shadow: 1px 1px ;
    align-self: center;
} 
#main-CV {
    justify-content: space-around;
    height: auto;
    margin-top: 30px;
}
.main-left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 45px;
}
.img-container {
    align-self: center;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    align-self: flex-start;
}
/*
.circle {
    background-color:  rgb(194, 55, 97);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 10px;
}*/
#strip-CV {
    margin-left: 10px;
    border: 10px solid rgb(194, 55, 97);
}
img {
    border-radius: 5px;
}
.intro {
    margin-right: 20px;
    text-align: justify;
    margin-top: 30px;
}
.main-right {
    padding: 10px;
}
.curriculum {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 450px;
}
.curriculum p {
    color: rgb(245, 199, 214);
    line-height: 1.5;
    font-size: 13px;
    letter-spacing: 1.5px;
}
.punctuation {
    color: rgb(241, 57, 115);
    font-weight: bold;
}
.value {
    /*color: rgb(253, 232, 240);*/
    color: rgb(81, 206, 248);
}
#main-projects {
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 30px;
}
.front-end, .back-end {
    margin: 40px 10px;
    max-width: 50%;
}
.front-end {
    border-right: 1px solid #8f666c;
}
.front-end h1, .back-end h1 {
    margin-left: 50px;
}
.project {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 10px;
}
.project-card {
    text-decoration: none;
    /*color: rgb(34, 34, 70);*/
    color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 4px 4px slategray;
    border: 1px solid #8f666c;
}
.project-card h3 {
    width: 80%;
    background: ;
    align-self: center;
    text-align: center;
    padding: 15px;
    line-height: 1.5;
    margin-bottom: -15px;
    z-index: 2;
}
.project-card img {
    overflow: hidden;
    height: 80%;
    width: 80%;
    margin: 10px;
    align-self: center;
    z-index: 1;
    margin: 15px;
    box-shadow: 0.5px 0.5px 3px;
}
#main-skills {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}
.skills-container, .certificates-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px;
}
.skills-container {
    border-bottom: #8f666c solid 1px;
    padding: 20px;
}
.certificates-container {
    padding: 50px 20px;
    margin-top: -20px;
}
.skills img {
    background-color: #8f666c;
    margin-top: 20px;
}
h4 {
    text-align: center;
    min-height: 50px;
}
.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    padding: 0 5px;
}
#main-experience {
    /*flex-direction: column;*/
    height: auto;
}
#main-experience h1 {
    margin: 50px 0 0 50px;
    width: 300px;
}
table {
    width: 100%;
    margin: 40px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: -0.5px -0.5px 5px slategray;
    border: 3px white solid;
}
tr:nth-child(2n){
    background-color: #e0c4c8;
}
tr:nth-child(2n+1) {
    background-color: #f7ecee;
}
th, td {
    padding: 10px;
    text-align: left;
}
tr:hover {
    background-color: slategray;
    animation: 0.7s wobble ease-in-out;
}
@keyframes wobble { 
    0% { transform: rotate(0deg) } 
    15% { transform: rotate(-0.5deg); } 
    30% { transform: rotate(0deg); } 
    45% { transform: rotate(0.5deg); } 
    60% { transform: rotate(0deg); } 
    75% { transform: rotate(-0.5deg); } 
    100% { transform: rotate(0deg); } 
 }
th:first-of-type, td:first-of-type {
    width: 25%;
}
th:first-of-type {
    border-top-left-radius: 15px;
}
th:nth-of-type(2) {
    border-top-right-radius: 15px;
}
#last-row td:first-of-type {
    border-bottom-left-radius: 15px;
}
#last-row td:nth-of-type(2) {
    border-bottom-right-radius: 15px;
}
#main-contact {
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
#main-contact a:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#main-contact img {
    width: 50px;
    height: 50px;
    padding: 50px;
}
#main-contact img.small {
    width: 80px;
    height: 80px;
}