html {
    width: 100%;
    font-family: proxima-nova, sans-serif;
    height: 5000px;
}
body {
    width: 96%;
    top: 0;
    display: block;
}
header {
    background-color: black;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    position: absolute;
    top: 0;
    left: 0;
}
header img {
    height: 40%;
    width: auto;
    position: relative;
    flex-basis: content;
    margin: 5px;
    border-radius: 50%;
    top: 5px;
}
header p {
    color: white;
    font-size: 15px;
    position: relative;
    flex-basis: content;
    margin: 5px;
    top: 5px;
}

.navbar {
    width: 98%;
    right: 1px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    transition: 0.1s;
    padding: 35px 10px;
    z-index: 4;
    background-color: white;
    top: 40px;
    transition: 0.1s;
}

#nav-left {
    align-self: flex-start;
}

#nav-right {
    align-self: flex-end;
}

.nav-links .outer-list {
    justify-content: flex-start;
}

#nav-cent {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar .inner-list {
    position: absolute;
    left: 0px;
    display: none;
    width: 100%;
    border-top: solid 1px grey;
    margin-top: 20px;
    background-color: white;
    z-index: 10;
    padding-bottom: 10px;
}

.navbar .inner-list .active-dropdown {
    display: flex;
    flex-wrap: wrap;
}
.navbar .inner-list .active-dropdown li {
    display: block;
    margin-top: 20px;
}

.navbar .inner-list .active-dropdown li a {
    text-align: left;
    line-height: 0.8px;
    padding: 10px;
    width: 50px;
    align-self: flex-start;
}

.navbar .inner-list.inactive-dropdown {
    display: none;
}

.navbar li {
    list-style: none;
    display: block;
    padding: 5px;
}

.navbar a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    font-size: 17px;
}

.navbar li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar .inner-list-item:hover {
    color: grey;
}

.small {
    font-size: 10px;
    line-height: 0.5;
    text-transform: none;
    padding: inherit;
}

.toggle-button {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    right: 12px;
    z-index: 10;
    top: 10px;
    left: 10px;
}

.link-bar {
    background-color: black;
    border-radius: 10px;
    height: 2.5px;
    width: 100%;
    padding: 1px;
}

@media (max-width: 1000px) {
    
    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        padding: 0px;
        top: 10px;
        right: 10px;
    }
    /* possible without?
    #nav-cent {
        position: absolute;
    }
    */
    .navbar .outer-list {
        width: 100%;
        flex-direction: column;
    }

    #nav-left .outer-list {
        margin-top: 25px;
    }

    #nav-right .outer-list {
        margin-top: -15px;
    }

    .navbar .outer-list-item {
        text-align: center;
        padding-top: 5px;
        background-color: rgb(177, 176, 176);
        border: solid 1px white;
        border-radius: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .navbar .inner-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        display: none;
    }

    .inner-list.active {
        display: flex;
        flex-direction: column;
        border-top: none;
        margin-top: 5px;
    }
    
    .inner-list.active .inner-list-item {
        text-align: center;
        padding: 5px 15px;
        background-color: white;
        border: solid 1px rgb(177, 176, 176);
        border-radius: 10px;
        margin: 2px;
    }

    .inner-list.active .inner-list-item .small {
        text-align: center;
    }
}

.slide-container {
    position: relative;
    margin: auto;
    top: 160px;
}
.slide {
    display: none;
    z-index: 1;
}
.current {
    display: block;
}
.caption {
    position: absolute;
    top: 10%;
    left: 80px;
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.company-name {
    font-size: 20px;
    font-weight: bold;
}
h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 60px;
}
.explanation {
    font-size: 20px;
    line-height: 1.2;
    padding: 50px 0px;
}
.cta {
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bolder;
    box-shadow: -0.2px -0.2px black;
    padding: 10px;
    width: 180px;
}
.cta:hover {
    border: green solid 1px;
    color: green;
    cursor: pointer;
    font-size: 18px;;
}
.trees {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 100px;
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.trees p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    flex-grow: 1;
    margin: auto 5px;
}
.trees p.big {
    font-size: 30px;
    text-align: right;
}
.dot-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 350px;
    min-height: 200px;
    justify-content: space-between;
}
.dot {
    cursor: pointer;
    height: 4px;
    width: 4px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 5px black;
    background-color: white;
    transition: background-color 0.6s ease;
}
.dot:active, .dot:hover {
    transform: scale(1.3);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.logo-container {
    margin: 170px 0px;
    height: 100px;
    position: absolute;
    left: 32px;
}
.logo-container img {
    max-width: 95%;
}
h3 {
    text-align: center;
    color: darkred;
    margin-top: 350px;
    font-size: 25px;
}
.shop-window-container {
    display: flex;
    flex-direction: row;
    left: 50px;
}
.shop-window-container:hover {
    cursor: pointer;
}
.shop-window {
    width: 25%;
    margin: 3px;
    overflow: hidden;
}
.img-caption {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 35%;
    text-shadow: 2px 2px black;
}
#protein-shop {
    background-image: url("protein.jpg");
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    transition: ease 0.6s;
    overflow: hidden;
}
#protein-shop:hover {
    transform: scale(1.3);
}
#minerals-shop {
    background-image: url("minerals.jpg");
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    transition: ease 0.6s;
    overflow: hidden;
}
#minerals-shop:hover {
    transform: scale(1.3);
}
#superfoods-shop {
    background-image: url("superfoods.jpg");
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    transition: ease 0.6s;
    overflow: hidden;
}
#superfoods-shop:hover {
    transform: scale(1.3);
}
#performance-shop {
    background-image: url("performance.jpg");
    background-size: cover;
    min-height: 250px;
    max-width: 100%;
    transition: ease 0.6s;
    overflow: hidden;
}
#performance-shop:hover {
    transform: scale(1.3);
}
.ethics {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: lightgrey;
}
.keep-real {
    display: flex;
    flex-direction: row;
    min-height: 800px;
}
.keep-real-left {
    width: 70%;
}
.keep-real-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h2 {
    color: darkred;
    text-align: left;
    font-size: 35px;
    margin-right: 50px;
    margin-top: 20%;
}
.keep-real p {
    margin-right: 50px;
}
.keep-real button {
    margin-right: 24%;
}
.ethics-symbols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.symbols {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
.symbols img {
    max-width: 80px;
}
.symbols-paragraph {
    color: darkred;
    text-align: center;
    flex-wrap: wrap;
}
.benefits-big {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 200px;
}
.benefits-left, .benefits-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 42%;
}
.benefits-big img {
    max-width: 300px;
}
.benefits-big h3 {
    margin-top: 20px;
}
.benefits-big p {
    margin: -20px;
    height: 100px;
}
.guarantee {
    text-align: center;
    font-size: 42px;
    font-weight: bolder;
    color: darkred;
    padding: 30px 130px;
    line-height: 1.5;
}
.reviews {
    display: flex;
    flex-direction: row;
}
#fixed-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
.review-resumed {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}
.reviews a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}